.img{
    position: absolute;
    margin-top: 10px;
    width: 100px;
}

.ani{
    display: none;
    animation: fly  3s infinite alternate-reverse linear;
}
.ani1{
    display: none;
    animation: fly1  3s infinite alternate-reverse linear;
}
.ani2{
    display: none;
    animation: fly2  3s infinite normal linear;
}

@keyframes fly {
    0% {
        transform: scale(1.2, 0.7);
        right: 15%;
        }

    100% {
        left: 15%;
        }
}
@keyframes fly1 {
    0% {
        transform: skew(-30deg, 20deg);
        right: 15%;
        }

    100% {
        transform: skew(30deg, -20deg);
        left: 15%;
        }
}
@keyframes fly2 {
    0% {
        transform: rotate(360deg);
        right: 15%;
        }

    100% {
        left: 15%;
        }
}
